body {
    background-color: lightblue;
    font-family: fantasy, sans-serif;
    padding-top: 100px;
}
.nav-link {
    font-size: 50px;
}
.gameButton {
    background-color: #fceea7;
    font-size: 50px;
    text-align: center;
    padding: 50px;
    cursor: pointer;
    border: thin black solid;
}
.gameCard {
    width: 100%;
    display: inline-flex;
    padding: 50px;
    text-align: center;
}
.gameIcon img {
    height: 100px;
    width: 200px;
}
.gameIcon {
    background-color: white;
    border: thick black solid;
    align-content: center;
    vertical-align: center;
    padding: 10px;
}
.gameDesc {
    border: thick black solid;
    background-color: white;
    padding: 10px;
    margin-left: 40px;
    float: right;
}