body {
    background-color: lightblue;
    font-family: fantasy, sans-serif;
    padding-top: 100px;
}
.nav-link {
    font-size: 50px;
}
.gameButton {
    background-color: #fceea7;
    font-size: 50px;
    text-align: center;
    width: fit-content;
    padding: 50px;
}