body {
    background-color: lightblue;
    font-family: fantasy, sans-serif;
    padding-top: 100px;
}
.nav-link {
    font-size: 50px;
}
.gameButton {
    background-color: #fceea7;
    font-size: 50px;
    text-align: center;
    padding: 50px;
    cursor: pointer;
    border: thin black solid;
}
.gameCard {
    width: fit-content;
    display: inline-flex;
    padding: 50px;
    text-align: center;
}
.gameCard img {

}
.gameDesc {
    border: thick black solid;
    background-color: white;
    padding: 10px;
    margin-left: 40px;
}