#body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: lightblue;
    text-align: center;
    color: black;
    font-family: fantasy, sans-serif;
}
#board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 5px;
    margin-bottom: 20px;
}
.cell {
    width: 100px;
    height: 100px;
    background-color: #FCEEA7;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: fantasy, sans-serif;
    font-size: 2em;
    cursor: pointer;
}
.cell.disabled {
    pointer-events: none;
}
#status {
    margin-bottom: 20px;
    font-size: 1.5em;
}
#resetButton {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
}

#button
{
    font-size: 80px;
    padding: 10px;
}

.highlight
{
    text-align: left;
    font-family: fantasy, sans-serif;
    font-size: 100px;
    background-color: #FCEEA7;
}