body {
    background-color: lightblue;
    padding-top: 100px;
    color: grey;
    font-family: fantasy, sans-serif;
}
.card {
    width: 500px;
    align-content: center;
}
.card-img-top {
    background-color: lightblue;
}