body {
    background-color: lightblue;
    text-align: center;
    color: black;
    font-family: fantasy, sans-serif;
    border-radius: 75%;
    align-content: center;
    vertical-align: center;
    margin: 5px;
    font-size: 50px;
    padding: 65px;
}